:root {
  --blue: #4285f4;
  /*--blue: #1d68b9;*/
  --white: #ddd;
  --gray: #757575;
  --green: #1DB954;
}

html, body {
  margin: 0;
  background: #212121;
}
body {
  font-family: 'open sans', arial, sans-serif;
  text-align: center;
  font-size: 16px;
  padding: .25rem;
  color: var(--white);
}
p {
  margin: 2rem 0;
}
a {
  color: #4285f4;
}

[hidden] {
  display: inline-block;
  pointer-events: none;
  visibility: hidden;
}

button {
  background: var(--blue);
  color: var(--white);
  border: none;
  cursor: pointer;
  user-select: none;
  box-sizing: content-box;
}

footer {
  margin-top: 2rem;
}
.bitrates {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 14rem;
}
.bitrates button {
  flex-basis: 15%;
  font-size: 1rem;
  font-family: inherit;
  display: inline-block;
  padding: 0;
  width: 4em;
  margin: .25rem;
  padding: 0.75rem 0.25rem;
  line-height: 1.5em;
}
.bitrates button:hover {
  background: #1c6ef5;
}
.bitrates button.active {
  background: #000;
  outline: 6px solid var(--green);
  transform: scale(1.1, 1.1);
  z-index: 1;
}

.bitrate {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.file-size {
  margin-top: .5rem;
  font-size: .75em;
}

#loading {
  margin-top: 1rem;
  color: var(--green);
  font-size: 1.5rem;
}

#pause {
  margin-top: 2rem;
  padding: 1em 2em;
  border-radius: 4px;
}
